@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .auth-shadow {
    box-shadow: 0px 0px 10px 0px #000000b5;
  }

  .card-shadow {
    box-shadow: 2px 2px 5px 0px #00000038;
  }

  .card-shadow-inner {
    box-shadow: inset 0px 0px 10px 1px #11102824;
  }

  .nav-shadow {
    box-shadow: 0px 0px 3px 0px #00000073;
  }
}